@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/scroll-bar.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030712;

    --card: #ffffff;
    --card-foreground: #030712;

    --popover: #ffffff;
    --popover-foreground: #030712;

    --primary: #111827;
    --primary-foreground: #f9fafb;

    --secondary: #f3f4f6;
    --secondary-foreground: #111827;

    --muted: #f3f4f6;
    --muted-foreground: #6b7280;

    --accent: #cbcbcb;
    --accent-foreground: #111827;

    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #030712;

    --radius: 0.5rem;
  }

  .dark {
    --background: #141927;
    --foreground: #f9fafb;

    --card: #030712;
    --card-foreground: #f9fafb;

    --popover: #030712;
    --popover-foreground: #f9fafb;

    --primary: #f9fafb;
    --primary-foreground: #111827;

    --secondary: #1f2937;
    --secondary-foreground: #f9fafb;

    --muted: #1f2937;
    --muted-foreground: #9ca3af;

    --accent: #20252a;
    --accent-foreground: #f9fafb;

    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;

    --border: #1f2937;
    --input: #1f2937;
    --ring: #d1d5db;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
